<!DOCTYPE html>
<html lang="ZH-CN">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="Perfree-Simple-Pro"/>
    <meta name="description"
          content="一款高仿Typecho的handsome博客主题 主题简介 抛弃一切繁琐,只想简简单单的呈现你的文采,如你所见,这是一款简约清新的博客主题模板,该模板收费69元,包含相册插件和留言板插件(开发中)以及"/>
    <meta name="template" content="Perfree-Simple-Pro"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="author" content=""/>
    <title>{{article.title}}</title>
    <link rel="stylesheet" href="static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="static/css/perfree.min.css" media="all"/>
    <link rel="stylesheet" href="static/plugins/font-awesome/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" href="static/css/iPage.css">
    <link rel="stylesheet" href="static/plugins/editor/css/editormd.min.css"/>
    <script type="text/javascript" src="static/plugins/jquery/jquery-3.2.1.min.js"></script>
    <script src="static/plugins/editor/editormd.min.js"></script>
</head>
<body>
<div id="viewArticle" class="p-container-box ">
    <div class="p-content-box layui-anim layui-anim-upbit">
        <div class="p-content-box-lwlhitokoto"><h2>{{article.title}}</h2><span><i class="fa fa-user-o"
                                                                                  aria-hidden="true"></i>&nbsp;{{article.nickname}}</span><span><i
                class="fa fa-clock-o" aria-hidden="true"></i> {{article.pushDate}}</span><span><i class="fa fa-eye"
                                                                                                  aria-hidden="true"></i>{{article.pageView}}</span><span><i
                class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;{{article.tiCount}}条评论</span></div>
        <div class="p-article-share-box layui-clear">
            <div class="p-share-left"><a class="p-index-link pjax" href="/"><i class="fa fa-home fa-fw"></i>分类</a>/<span
                    class="p-active-link">{{article.tagName}}</span></div>
            <div class="p-share-right"><span>分享到:</span><a class="qq"
                                                           onclick="shareToqq(event, '/attachment/20190603/429ac173b205465ba3e3a1410bd38e88.jpg')"
                                                           title="分享到QQ"><i class="fa fa-qq" aria-hidden="true"></i></a>/<a
                    onclick="shareToQzone(event,'/attachment/20190603/429ac173b205465ba3e3a1410bd38e88.jpg')"
                    title="分享到qq空间"><img src="static/img/qzone.png" width="16px" height="16px"/></a>/<a class="weibo"
                                                                                                        onclick="shareToSinaWB(event,'/attachment/20190603/429ac173b205465ba3e3a1410bd38e88.jpg')"
                                                                                                        title="分享到微博"><i
                    class="fa fa-weibo" aria-hidden="true"></i></a>/<a
                    href="https://www.facebook.com/sharer.php?title=Perfree-Simple-Pro-致更好的你&amp;u=https://www.jpress.yinpengfei.com/article/9"
                    target="_blank" title="分享到facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>/<a
                    href="https://twitter.com/share?text=Perfree-Simple-Pro-致更好的你&amp;url=https://www.jpress.yinpengfei.com/article/9"
                    target="_blank" title="分享到Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
        </div>
        <div v-if="article.image!=''" class="p-article-img"
             :style="'background-size: cover;background-image: url('+article.image+')'"></div>
        <article class="p-article-content-box" id="article" style="padding:20px;margin-bottom: 20px">
            <div id="articleContent">
                <vue-markdown :source="article.content"></vue-markdown>
            </div>
        </article>
        <div class="p-article-goto-box layui-clear"><a href="/article/7" class="p-pre-article pjax"
                                                       articletitle="谁又不曾孤独呢-孤独患者" id="preArticle">上一篇</a><a
                href="/article/10" articletitle="推荐一款分布式文件服务器" class="p-next-article pjax" id="nextArticle">下一篇</a>
        </div>

        <!--        评论-->
        <div id="editor">
            <textarea style="display: none"></textarea>
        </div>
        <div class="p-send-comment-box layui-clear"><span style="font-size: 14px;">说点什么吧~</span>
            <button class="layui-btn p-send-comment-btn revert-submit" lay-submit lay-filter="comment">发表评论
            </button>
        </div>

        <h2 class="p-commoent-count">评论列表</h2>
        <div class="p-article-comment-list-box" id="allComment" style="padding-bottom: 60px">
            <div class="p-article-revert-box" v-for="(p,key,index) in comment" :key="index">
                <!--评论-->
                <div class="p-article-revert-container layui-clear">
                    <div class="p-revert-user layui-clear">
                        <img :src="p.tximg" alt="" class="p-user-img">
                        <div class="p-article-revert-container-right">
                            <span v-if="p.nickname==null" class="p-revert-user-name">匿名用户</span>
                            <span v-else class="p-revert-user-name">{{p.nickname}}</span>
                            <span class="p-revert-time">{{p.tidate}}</span>
                        </div>
                    </div>
                    <div class="p-revert-content">
                        <p style="padding: 10px;background: white;border-radius: 5px;box-shadow: 0 0 2px rgba(0,0,0,0.2)">
                            <vue-markdown :source="p.content"></vue-markdown>
                        </p>
                    </div>
                    <div style="display: flex;">
                        <input type="hidden" v-model="tid">
                        <a href="javascript:;" class="p-revert-btn" @click.prevent="sendReply">回复</a>
                        <span>{{p.like}}</span>
                    </div>
                </div>
                <!-- 回复-->
                <div v-for="(rep,key,index) in p.child" :key="index"
                     class="p-article-revert-container p-revert-child layui-clear">
                    <div class="p-revert-user layui-clear">
                        <img :src="rep.tximg" alt="" class="p-user-img">
                        <div class="p-article-revert-container-right">
                            <span v-if="rep.nickname==null" class="p-revert-user-name">匿名用户</span>
                            <span v-else class="p-revert-user-name">{{rep.nickname}}</span>
                            <span class="p-revert-time">{{rep.tidate}}</span>
                        </div>
                    </div>
                    <div class="p-revert-content">
                        <p style="padding: 10px;background: white;border-radius: 5px;box-shadow: 0 0 2px rgba(0,0,0,0.2)">
                            回复{{p.nickname}}
                            <vue-markdown :source="rep.content"></vue-markdown>
                        </p>
                    </div>
                    <input type="hidden" v-model="tid">
                    <a href="javascript:;" class="p-revert-btn" @click.prevent="sendReply">回复</a>
                    <span>{{rep.like}}</span>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="static/js/article.js"></script>
<script src="static/js/index.js"></script>
<script src="static/js/vue.js"></script>
<script src="static/plugins/node_modules/axios/dist/axios.js"></script>
<script src="static/plugins/node_modules/vue-markdown/dist/vue-markdown.js"></script>

<script>

    Vue.use(VueMarkdown);
    new Vue({
        el: "#viewArticle",
        data: {
            article: "",
            comment: "",
            tid: '',
        }, mounted() {

            const haha = location.href;
            let artId = "";
            if (haha.indexOf("=") > 0) {
                artId = haha.split("=")[1];
                if (isNaN(artId)) {
                    artId = 1;
                }
            } else {
                artId = 1;
            }

            const url = "http://localhost:8081/article/selectByArtId";
            axios.get(url, {params: {artId: artId}}).then((response) => {
                const result = response.data;
                this.article = result;
            }).catch((error) => {
                layer.msg("获取文章内容失败！");
            });

            const url2 = "http://localhost:8081/reply/commentSystem";
            axios.get(url2,
                {
                    params:
                        {
                            artId: artId,
                        }
                }).then((response) => {
                this.comment = response.data;
            }).catch((error) => {
                layer.msg("获取评论列表失败！");
            });
        },
        methods: {
            // 将图片上传到服务器，返回地址替换到md中
            $imgAdd(pos, $file) {
                let formdata = new FormData();

                this.$upload.post('/上传接口地址', formdata).then(res => {
                    console.log(res.data);
                    this.$refs.md.$img2Url(pos, res.data);
                }).catch(err => {
                    console.log(err)
                })
            },
            // 所有操作都会被解析重新渲染
            change(value, render) {
                // render 为 markdown 解析后的结果[html]
                this.html = render;
            },
            // 提交
            submit() {
                console.log(this.content);
                console.log(this.html);
                this.$message.success('提交成功，已打印至控制台！');
            }
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        var editor = editormd("editor", {
            toolbarModes:'mini',
            width: "100%",
            height: 250,
            path: "static/plugins/editor/lib/",
            codeFold: true,
            //syncScrolling : false,
            saveHTMLToTextarea: false,    // 保存 HTML 到 Textarea
            searchReplace: true,
            //watch : false,                // 关闭实时预览
            htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
            //toolbar  : false,             //关闭工具栏
            //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji: true,
            taskList: true,
            tocm: true,         // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            // dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "./php/upload.php",
            onload: function () {
                console.log('onload', this);
                //this.fullscreen();
                //this.unwatch();
                //this.watch().fullscreen();
                //this.setMarkdown("#PHP");
                //this.width("100%");
                //this.height(480);
                //this.resize("100%", 640);
            }
        });
        // editor.gotoLine(90);//转到第90行

        // editor.show();//显示编辑器

        // editor.hide();//隐藏编辑器

        // alert(editor.getMarkdown());//获取编辑器内容（不含html）
        //
        // alert(editor.getHTML());//获取编辑器html内容

        // editor.watch();//开启双窗口对比

        editor.unwatch();//取消双窗口对比

        editor.previewing();//预览效果

        editor.fullscreen();//全屏（按ESC取消）

        editor.showToolbar();//显示工具栏

        // editor.hideToolbar();//隐藏工具栏

        editor.config({
            tocDropdown: true,
            tocTitle: "目录 Table of Contents",
        });//TOC下拉菜单

        editor.config("tocDropdown", false);//TOC默认   
    });
</script>
</body>
</html>
