<!DOCTYPE html>
<html lang="ZH-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="q" />
    <meta name="template" content="Perfree-Simple-Pro" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta name="author" content="" />
    <title>分类</title>
    <link
      rel="icon"
      type="image/ico"
      href="/attachment/20190430/ec83d6ed69d84517beb3ee9ccc49f8b4.jpg"
    />
    <link
      rel="stylesheet"
      href="static/plugins/layui/css/layui.css"
      media="all"
    />
    <link rel="stylesheet" href="static/css/perfree.min.css" media="all" />
    <link
      rel="stylesheet"
      href="static/plugins/font-awesome/css/font-awesome.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/plugins/skplayer/skPlayer.min.css"
      media="all"
    />
    <link rel="dns-prefetch" href="//cdn.bootcss.com" />
    <link
      rel="stylesheet"
      href="static/plugins/highlight/styles/vs.css"
      media="all"
    />
    <script
      type="text/javascript"
      src="static/plugins/jquery/jquery-3.2.1.min.js"
    ></script>
  </head>
  <body>
        <div class="p-container-box">
          <div class="p-content-box layui-anim layui-anim-upbit">
            <div class="p-content-box-lwlhitokoto">
              <h3>分类</h3>
            </div>
            <div class="p-category-list-box layui-clear">
              <a
                class="p-category-box layui-clear pjax"
                title="共2篇文章"
                href="/article/category/jpress"
              >
                <div class="p-category-img"></div>
                <div class="p-category-msg">
                  <h2 class="p-category-title">jpress</h2>
                  <span>别看了,只是一个测试分类</span>
                </div>
                <div class="p-category-count">
                  2
                </div>
              </a>
            </div>
          </div>
          <div class="p-right-side-box">
            <!-- 热门start -->
            <div class="p-right-card-box">
              <h2 class="p-right-card-title">热门文章</h2>
              <div class="p-right-card-body">
                <ul>
                  <li class="p-hot-article-box">
                    <a href="/article/9" class="pjax">
                      <img
                        src="static/images/1.png"
                        alt=""
                        class="p-hot-article-img"
                      />
                      <div class="p-hot-article-right-box">
                        <h2>Perfree-Simple-Pro-致更好的你</h2>
                        <span
                          ><i class="fa fa-eye" aria-hidden="true"></i>
                          2910</span
                        >
                      </div>
                    </a>
                  </li>
                  <li class="p-hot-article-box">
                    <a href="/article/1" class="pjax">
                      <img
                        src="static/images/2.png"
                        alt=""
                        class="p-hot-article-img"
                      />
                      <div class="p-hot-article-right-box">
                        <h2>PerfreeSimple-安安静静的写博客</h2>
                        <span
                          ><i class="fa fa-eye" aria-hidden="true"></i>
                          1303</span
                        >
                      </div>
                    </a>
                  </li>
                  <li class="p-hot-article-box">
                    <a href="/article/4" class="pjax">
                      <img
                        src="static/images/3.png"
                        alt=""
                        class="p-hot-article-img"
                      />
                      <div class="p-hot-article-right-box">
                        <h2>推荐一个很棒的html网页背景图片网站</h2>
                        <span
                          ><i class="fa fa-eye" aria-hidden="true"></i>
                          870</span
                        >
                      </div>
                    </a>
                  </li>
                  <li class="p-hot-article-box">
                    <a href="/article/2" class="pjax">
                      <img
                        src="static/images/4.png"
                        alt=""
                        class="p-hot-article-img"
                      />
                      <div class="p-hot-article-right-box">
                        <h2>Python数据分析之Pandas数据可视化</h2>
                        <span
                          ><i class="fa fa-eye" aria-hidden="true"></i>
                          538</span
                        >
                      </div>
                    </a>
                  </li>
                  <li class="p-hot-article-box">
                    <a href="/article/7" class="pjax">
                      <img
                        src="static/images/5.png"
                        alt=""
                        class="p-hot-article-img"
                      />
                      <div class="p-hot-article-right-box">
                        <h2>谁又不曾孤独呢-孤独患者</h2>
                        <span
                          ><i class="fa fa-eye" aria-hidden="true"></i>
                          496</span
                        >
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- 标签end -->
            <div id="toxBox"></div>
          </div>
          <div class="p-footer-box">
            <div class="p-footer-box-left">
              © 2019 Perfree版权所有 豫ICP备18035337号
            </div>
            <div class="p-footer-box-right"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-layout-right-btn">
      <a class="go-top"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
    </div>
    <script
      src="https://v1.hitokoto.cn/?encode=js&amp;select=%23hitokoto"
      defer
    ></script>
    <script type="text/javascript" src="static/plugins/pjax/pjax.js"></script>
    <script
      type="text/javascript"
      src="static/plugins/layui/lay/modules/layer.js"
    ></script>
    <script type="text/javascript" src="static/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <script
      type="text/javascript"
      src="static/plugins/skplayer/skPlayer.js"
    ></script>
    <script type="text/javascript" src="static/js/main.min.js"></script>
    <script
      type="text/javascript"
      src="static/plugins/clipboard/clipboard.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/jquery.tocify/jquery-ui-1.9.1.custom.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/jquery.tocify/jquery.tocify.js"
    ></script>
    <div class="loadJs">
      <script type="text/javascript">
        //截取分类首字母
        $(".p-category-title").each(function () {
          var title = $(this).text();
          $(this)
            .parent()
            .siblings(".p-category-img")
            .text(title.substring(0, 1));
          $(this)
            .parent()
            .siblings(".p-category-img")
            .css({ "background-color": common.getRandomColor() });
        });
      </script>
    </div>
  </body>
</html>
