<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录到用户中心</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="static/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="static/adminlte/css/AdminLTE.min.css">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Meta-Tags -->

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <!--[if lt IE 9]>
    <![endif]-->
    <style>
        .login-page {
            /* 设置背景图片 */
            background-image: url("static/img/banner.png");
            background-size: cover;
        }

        .login-box {
            padding-top: 100px;
        }

        .form-group {
            text-align: left;
        }


    </style>
</head>
<body class="hold-transition login-page">
<div class="container w3layouts agileits" style="width: 25%;margin-left: 60%;margin-top: 10%">

    <div class="login w3layouts agileits" style="width: 100%">
        <h2>登 录</h2>
        <form action="#" method="post">
            <input type="text" name="username" placeholder="用户名" required="">
            <input type="password" name="password" placeholder="密码" required="">
        </form>
        <ul class="tick w3layouts agileits">
            <li>
                <input type="checkbox" id="brand1" value="">
                <label for="brand1"><span></span>记住我</label>
            </li>
        </ul>
        <div class="send-button w3layouts agileits">
            <form>
                <input type="submit" value="登 录">
            </form>
        </div>
        <a href="#">记住密码?</a>
        <div class="social-icons w3layouts agileits">
            <p>- 其他方式登录 -</p>
            <ul>
                <li class="qq"><a href="#">
                    <span class="icons w3layouts agileits"></span>
                    <span class="text w3layouts agileits">QQ</span></a></li>
                <li class="weixin w3ls"><a href="#">
                    <span class="icons w3layouts"></span>
                    <span class="text w3layouts agileits">微信</span></a></li>
                <li class="weibo aits"><a href="#">
                    <span class="icons agileits"></span>
                    <span class="text w3layouts agileits">微博</span></a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>

</div>

<script src="static/components/jquery/jquery.min.js"></script>
<script src="static/components/jquery/jquery.form.min.js"></script>
<script src="static/components/bootstrap/js/bootstrap.min.js"></script>
<script src="static/commons/jpresscommons.js"></script>
</body>
</html>