<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="static/plugins/layui/css/layui.css"/>
    <script src="static/plugins/layui/layui.js"></script>
    <script src="static/js/vue.js"></script>
</head>
<header></header>
<div class="layui-row">
    <div id="login" class="login-pc layui-col-md6 layui-col-md-offset3">
        <form action="">
            <h1>用户登录</h1>

            <div class="layui-form-item">
                <label class="layui-form-label">账号</label>

                <div class="layui-input-block">
                    <input type="text" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>

                <div class="layui-input-block">
                    <input type="password" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item" style="text-align: center">
                <button class="layui-btn layui-btn-primary" style="width: 40%">登录</button>
            </div>
        </form>
    </div>
    <script> layui.use(['layer', 'form'], function () {
        var layer = layui.layer,
                form = layui.form;
        var $ = layui.$;
        var options = {
            // url: "http://localhost:8080/articleMuch/selectArticleMuchByAtitle",
            // data: {"atitle": "Jsp数据库交互之Cookie"},
            method: "get",
            dataType: "json",
            success: function (data) {

            }
        };
        var size = window.innerWidth;
        listenerScreen(size);
        $.ajax(options);
        $(window).resize(function () {
            var size = window.innerWidth;
            listenerScreen(size);
        });

        function listenerScreen(size) {
            if (size > 1000) {
                $("#login").addClass("login-pc").removeClass("login-ph");
                $("body").addClass("pc").removeClass("ph");
            } else {
                $("#login").removeClass("login-pc").addClass("login-ph");
                $("body").addClass("ph").removeClass("pc");
            }
        }
    });
    </script>
</body>
</html>
